/* Housekeeping */
html{
    font:0.75em/1.5 sans-serif;
    color:#333;
    background-color:#fff;
    padding:1em;
}
/* Tables */
table{
    margin-bottom:1em;
    border-collapse: collapse;
}
th{
    font-weight:bold;
    background-color:#ddd;
}
th,
td{
    padding:0.5em;
    border:1px solid #ccc;
}

td.edited {
    border-width:2px;
    border-color:#6da370;
    text-decoration: underline;
}

tr.selected {
    background-color:#e5e5ff;
}

span.errorMessageStyle{
    color:red;
    background-color:yellow;
}